#Header {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    display: flex;
}

#Header .container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}